# yaml-language-server: $schema=https://raw.githubusercontent.com/shopware/shopware/trunk/config-schema.json

parameters:
    env(K8S_FILESYSTEM_PRIVATE_BUCKET): ""
    env(K8S_FILESYSTEM_PUBLIC_BUCKET): ""
    env(K8S_FILESYSTEM_PUBLIC_URL): ""
    env(K8S_FILESYSTEM_REGION): ""
    env(K8S_FILESYSTEM_ENDPOINT): ""
    # does not work yet, we need a factory or compiler pass for this
    # env(K8S_CACHE_TYPE): "cache.adapter.redis_tag_aware"
    env(K8S_CACHE_HOST): "localhost"
    env(K8S_CACHE_PORT): "6379"
    env(K8S_CACHE_INDEX): ""
    env(K8S_ES_NUMBER_OF_REPLICAS): null
    env(K8S_ES_NUMBER_OF_SHARDS): null
    env(REDIS_SESSION_DSN): "redis://%env(string:key:host:url:PHP_SESSION_SAVE_PATH)%:%env(string:key:port:url:PHP_SESSION_SAVE_PATH)%/%env(string:key:path:url:PHP_SESSION_SAVE_PATH)%"
    env(REDIS_APP_DSN): "redis://%env(K8S_CACHE_HOST)%:%env(K8S_CACHE_PORT)%/%env(K8S_CACHE_INDEX)%"

shopware:
    admin_worker:
        enable_admin_worker: false
        enable_notification_worker: false
        enable_queue_stats_worker: false
    deployment:
        cluster_setup: true
        runtime_extension_management: false
    increment:
        user_activity:
            type: array
        message_queue:
            type: array
    filesystem:
        private:
            type: "amazon-s3"
            visibility: "private"
            config:
                bucket: "%env(K8S_FILESYSTEM_PRIVATE_BUCKET)%"
                region: "%env(K8S_FILESYSTEM_REGION)%"
                endpoint: "%env(K8S_FILESYSTEM_ENDPOINT)%"
                use_path_style_endpoint: true
        public: &public_bucket
            type: "amazon-s3"
            url: "%env(K8S_FILESYSTEM_PUBLIC_URL)%"
            visibility: "public"
            config:
                bucket: "%env(K8S_FILESYSTEM_PUBLIC_BUCKET)%"
                region: "%env(K8S_FILESYSTEM_REGION)%"
                endpoint: "%env(K8S_FILESYSTEM_ENDPOINT)%"
                use_path_style_endpoint: true
        theme: *public_bucket
        sitemap: *public_bucket
        asset:
            type: local
            url: '%env(APP_URL)%'
            config:
                root: '%kernel.project_dir%/public'
    cdn:
        url: "%env(K8S_FILESYSTEM_PUBLIC_URL)%"
    redis:
        connections:
            session:
                dsn: '%env(REDIS_SESSION_DSN)%'

elasticsearch:
    index_settings:
        number_of_replicas: "%env(int:K8S_ES_NUMBER_OF_REPLICAS)%"
        number_of_shards: "%env(int:K8S_ES_NUMBER_OF_SHARDS)%"

framework:
    cache:
        app: cache.adapter.redis_tag_aware
        default_redis_provider: '%env(REDIS_APP_DSN)%'
    mailer:
        message_bus: 'messenger.default_bus'

services:
    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - '@shopware.redis.connection.session'
            - { prefix: 'sess_' }
